@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0%;
}


body{
    background-image: url(/img/pexels-scott-webb-1029612.jpg);
    background-size: cover;
}

header{
    display: flex;
    align-items: center;
    font-family:'Merriweather', serif;
}

header h1{
    padding: 20px;
    font-size: 65px;
}

span{
    color: rgba(231,0,36,255);
}


header ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex: 50%;
}
header ul li{
    padding: 20px;
}

header ul li:hover{
    background-color:rgba(231,0,36,255);
    border-radius: 20px;
    cursor: pointer;
    color: white;
    transition: 0.4s;

}

.titulo{
    flex: 50%;
}

main{
    font-family: 'Merriweather', serif;;
}

main h2{
    padding: 20px;
    margin-bottom: 15%;
    font-size: 30px;
}

main h3{
    padding: 20px;
    font-size: 25px;
}

footer{
    margin-top: 10%;
}

footer p, a{
    padding: 20px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

footer p{
    font-size: 20px;
}

footer a{
    text-decoration:none;
    color: rgba(231,0,36,255);
}

